<div class="position-relative min-vh-100 p-3">
  <ngx-spinner [fullScreen]="false" name="{{spinner.name}}" bdColor="rgba(51,51,51,0.5)" size="medium" color="#343a40"
    type="{{spinner.type}}">
    <p class="text-light"></p>
  </ngx-spinner>

  <div *ngIf="!isLoading">
    <div class="row">
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
          <li class="breadcrumb-item"><a routerLink="/plannings">Plannings</a></li>
          <li class="breadcrumb-item active">Pointage</li>
        </ol>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <form action="" method="POST" [formGroup]="form">
      <input type="hidden" name="_token" value="ilQzY07iiLWigwyNt5H3Hom29MVQlq9XPzeNjG7b">
      <div class="card">
        <div class="card-header" style="background-color: #343a40de; color: white;">
          <h3 class="card-title text-bold">Fiche de présence de la classe {{planning.subclass_name}}</h3>
        </div>

        <div class="card-body table-responsive table-bordered p-0" id="presence" formArrayName="presences">
          <table class="table text-nowrap" style="page-break-inside:always;">
            <tbody>
              <tr style="background-color: aliceblue;">
                <th class="text-right" rowspan="2" colspan="1">
                  <h5 class="text-capitalize">{{planning.planning_date | date:'EEEE d MMMM y':
                    undefined:
                    'fr'}}</h5>
                  <p>
                    <span>{{planning.planning_date + ' ' + planning.start | date: 'shortTime':
                      undefined:
                      'fr'}} à {{planning.planning_date + ' ' + planning.end | date: 'shortTime':
                      undefined: 'fr'}}</span> -
                    <span class="text-uppercase">{{planning.place}}</span>
                  </p>
                </th>
                <th class="text-right" rowspan="1" colspan="4">
                  <h2 class="text-uppercase">{{planning.subject_description}} -
                    {{planning.subject_name}}</h2>
                  <h5 class="text-capitalize">{{planning.professor_name}}</h5>
                </th>
              </tr>
              <tr></tr>
              <tr style="background: rgb(248, 248, 237);">
                <th>Nom et prénoms</th>
                <th class="text-center">En salle</th>
                <th class="text-center">Présent</th>
                <th class="text-center">En Retard</th>
                <th class="text-right">Commentaires</th>
              </tr>
              <tr *ngFor="let student of students; let index = index"
                style="background-color: white;  page-break-inside:avoid; page-break-after:auto;"
                formGroupName="{{index}}">
                <td class="text-capitalize"><a href="">{{ [student.first_name, student.last_name] | concatPipe }}</a>
                </td>
                <input type="hidden" name="STUDENT_ID_{{index}}" value="{{student.id}}">
                <td class="text-center">
                  <div class="icheck-success d-inline">
                    <input class="presence-check" type="checkbox" id="a{{index}}" name="IS_PRESENT_CLASS_{{index}}"
                      formControlName="isPresentClass" #checka [value]="checka.checked"
                      (change)="onChangePresentClass(checkb, checkc, $event)">
                    <label for="a{{index}}">
                    </label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="icheck-primary d-inline">
                    <input class="presence-check" type="checkbox" id="b{{index}}" name="IS_PRESENT_{{index}}"
                      formControlName="isPresent" #checkb [value]="checkb.checked"
                      (change)="onChangePresent(checka, checkc, $event)">
                    <label for="b{{index}}">
                    </label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="icheck-danger d-inline">
                    <input class="presence-check" type="checkbox" id="c{{index}}" name="IS_LATE_{{index}}"
                      formControlName="isLate" #checkc [value]="checkc.checked" (change)="onChangeLate(checkb, $event)">
                    <label for="c{{index}}">
                    </label>
                  </div>
                </td>
                <td style="padding: 0;">
                  <textarea style="border: none;" class="form-control" name="COMMENTS_{{index}}" rows="2"></textarea>
                </td>
              </tr>
              <input type="hidden" name="COURSE_ID" value="4">
              <input type="hidden" name="SIZE" value="4">
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>

      <div style="display: flex;justify-content: center;">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a (click)="makePDF()" class="mb-3 btn btn-mat btn-primary" sty="">Imprimer la fiche</a>
          <a (click)="makePDF()" class="mb-3 btn btn-mat btn-success" sty="">Sauvegarder</a>
          <a (click)="makePDF()" class="mb-3 btn btn-mat btn-danger" sty="">Terminer le cours</a>
        </div>
      </div>

    </form>
  </div>
</div>
