.card-header {
  background-color: #242d36e0;
  color: white;
}

#presence {
  overflow-x: auto;
  padding: 2px!important;
}

.pointing-row {
  display: contents;
}

table td {
  vertical-align: middle;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white;
  opacity: .7;
}

#btn-group {
  display: flex;
  justify-content: end;
}
