.card-header {
  background-color: #242d36e0;
  color: white;
}

#presence {
  overflow-x: auto;
  padding: 2px !important;
}

.pointing-row {
  display: contents;
}

table td {
  vertical-align: middle;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
  opacity: 0.7;
}

#btn-group {
  display: flex;
  justify-content: end;
}

.table-row {
  background-color: white;
  page-break-inside: avoid;
  page-break-after: auto;
}

.is-remote {
  background-color: #fff9e1;
}

#pointing-content {
  min-height: 50vh;
}
