<div class="position-relative min-vh-100 p-3">
  <ngx-spinner [fullScreen]="false" name="{{spinner.name}}" bdColor="rgba(51,51,51,0.5)" size="medium" color="#343a40"
    type="{{spinner.type}}">
    <p class="text-light"></p>
  </ngx-spinner>

  <div *ngIf="dataLoaded | async">
    <div class="row">
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
          <li class="breadcrumb-item"><a routerLink="/plannings">Plannings</a></li>
          <li class="breadcrumb-item active">Pointage</li>
        </ol>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <form action="" method="POST" [formGroup]="presenceForm">
      <input type="hidden" name="_token" value="ilQzY07iiLWigwyNt5H3Hom29MVQlq9XPzeNjG7b">
      <div class="card">
        <div class="card-header" style="background-color: #343a40de; color: white;">
          <h3 class="card-title text-bold">Fiche de présence de la classe {{planning.subclass_name}}</h3>
          <span class="{{status[planning.status].class}} float-right" style="font-size:1rem">{{
            status[planning.status].text }}</span>
        </div>

        <div class="card-body table-responsive table-bordered p-0" id="presence" formArrayName="presences">
          <table class="table text-nowrap" style="page-break-inside:always;">
            <tbody>
              <tr style="background-color: aliceblue;">
                <th class="text-right" rowspan="2" colspan="1">
                  <h5 class="text-capitalize">{{planning.planning_date | date:'EEEE d MMMM y':
                    undefined:
                    'fr'}}</h5>
                  <p>
                    <span>{{planning.planning_date + ' ' + planning.start | date: 'shortTime':
                      undefined:
                      'fr'}} à {{planning.planning_date + ' ' + planning.end | date: 'shortTime':
                      undefined: 'fr'}}</span> -
                    <span class="text-uppercase">{{planning.place}}</span>
                  </p>
                </th>
                <th class="text-right" rowspan="1" colspan="4">
                  <h2 class="text-uppercase">{{planning.subject_description}} -
                    {{planning.subject_name}}</h2>
                  <h5 class="text-capitalize">{{planning.professor_name}}</h5>
                </th>
              </tr>
              <tr></tr>
              <tr style="background: rgb(248, 248, 237);">
                <th>Nom et prénoms</th>
                <th class="text-center">En salle</th>
                <th class="text-center">Présent</th>
                <th class="text-center">En Retard</th>
                <th class="text-right">Commentaires</th>
              </tr>
              <tr *ngFor="let student of students; let index = index"
                style="background-color: white;  page-break-inside:avoid; page-break-after:auto;"
                formGroupName="{{index}}">
                <input type="hidden" formControlName="student_id" [(ngModel)]="student.id" />
                <input type="hidden" formControlName="planning_id" [(ngModel)]="planning.id" />
                <td class="text-capitalize"><a href="">{{ [student.first_name, student.last_name] | concatPipe }}</a>
                </td>
                <td class="text-center">
                  <div class="icheck-success d-inline">
                    <input type="checkbox" id="a{{index}}" formControlName="is_present_class" #checka
                      [ngModel]="presenceForm.value.presences[index].is_present_class"
                      (change)="onChangePresentClass(checkb, index, $event)" [attr.disabled]="done ? '' : null">
                    <label for="a{{index}}">
                    </label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="icheck-primary d-inline">
                    <input type="checkbox" id="b{{index}}" formControlName="is_present" #checkb
                      [ngModel]="presenceForm.value.presences[index].is_present"
                      (change)="onChangePresent(checka, checkc, index, $event)" [attr.disabled]="done ? '' : null">
                    <label for="b{{index}}">
                    </label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="icheck-danger d-inline">
                    <input type="checkbox" id="c{{index}}" formControlName="is_late" #checkc
                      [ngModel]="presenceForm.value.presences[index].is_late"
                      (change)="onChangeLate(checkb, index, $event)" [attr.disabled]="done ? '' : null">
                    <label for="c{{index}}">
                    </label>
                  </div>
                </td>
                <td style="padding: 0;">
                  <textarea style="border: none;" class="form-control" rows="2" formControlName="comment"></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div style="display: flex;justify-content: center;">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a *ngIf="planning.status > 0" (click)="makePDF()" class="mb-3 btn btn-mat btn-primary" sty="">Imprimer la
            fiche</a>
          <a *ngIf="planning.status !== 2" (click)="savePresences()" class="mb-3 btn btn-mat btn-success"
            sty="">Sauvegarder</a>
          <a *ngIf="planning.status !== 2" (click)="endPlanning()" class="mb-3 btn btn-mat btn-danger" sty="">Terminer
            le cours</a>
        </div>
      </div>

    </form>
  </div>
</div>
