.card-header {
  background-color: #1f2f3ee0;
  color: white;
}

.status {
  font-size: 1rem;
  text-transform: capitalize;
  opacity: .9;
}

#presence {
  overflow-x: auto;
  padding: 2px!important;
}

.pointing-row {
  display: contents;
}

table td {
  vertical-align: middle;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white;
  opacity: .7;
}
