<div class="row position-relative">
  <ngx-spinner [fullScreen]="false" name="chart-spinner" bdColor="rgba(255, 255, 255, .2)" size="default" color="gray"
    type="cube-transition">
    <p class="text-dark mt-5">Géneration des graphes ...</p>
  </ngx-spinner>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <canvas id="assiduityChart" height="{{canvasHeight / 2}}"></canvas>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <canvas id="subjectRemoteNotDoneChart" height="{{canvasHeight / 2}}"></canvas>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <canvas id="subjectRemoteDoneChart" height="{{canvasHeight / 2}}"></canvas>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <canvas id="subjectRemoteChart" height="{{canvasHeight}}"></canvas>
      </div>
    </div>
  </div>
</div>
