<div class=" position-relative">
  <ngx-spinner [fullScreen]="false" name="chart-spinner" bdColor="rgba(255, 255, 255, .2)" size="default" color="gray"
    type="cube-transition">
    <p class="text-dark mt-5">Géneration des graphes ...</p>
  </ngx-spinner>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-xl-5 p-lg-5 p-md-5">
      <canvas id="assiduityChart" height="{{canvasHeight / 2}}"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-md-4 col-sm-4 col-xs-4 p-5">
      <canvas id="subjectRemoteNotDoneChart" height="{{canvasHeight / 2}}"></canvas>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-4 col-xs-4 p-5">
      <canvas id="subjectRemoteDoneChart" height="{{canvasHeight / 2}}"></canvas>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-4 col-xs-4 p-5">
      <canvas id="subjectRemoteChart" height="{{canvasHeight}}"></canvas>
    </div>
  </div>
</div>
