<div class="row position-relative">
  <div class="col-md-6">
    <canvas id="assiduityChart" height="{{canvasHeight / 2}}"></canvas>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-4">
        <canvas id="subjectRemoteNotDoneChart" height="{{canvasHeight / 2}}"></canvas>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4">
        <canvas id="subjectRemoteDoneChart" height="{{canvasHeight / 2}}"></canvas>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4">
        <canvas id="subjectRemoteChart" height="{{canvasHeight}}"></canvas>
      </div>
    </div>
  </div>
</div>
