<div class="p-3 position-relative min-vh-100">
    <ngx-spinner [fullScreen]="false" name="{{spinner.name}}" bdColor="rgba(255, 255, 255, .5)" size="medium"
        color="#343a40" type="{{spinner.type}}">
        <p class="text-light"></p>
    </ngx-spinner>
    <div *ngIf="dataLoaded | async">
        <label class="form-label">Choisir une classe</label>
        <select [(ngModel)]="selectedClass" (ngModelChange)="onClassChange()" class="form-control"
            id="allocation-algorithm">
            <option *ngFor="let class of classes" [value]="class.id">{{class.name}}</option>
        </select>

        <full-calendar id="full-calendar" class="border mt-2" [options]="calendarOptions"></full-calendar>
    </div>
</div>
