<div id="students" class="position-relative">
  <ngx-spinner [fullScreen]="false" name="student-spinner" bdColor="rgba(255, 255, 255, .8)" size="medium"
    color="#343a40" type="ball-scale-ripple">
    <p class="text-dark mt-5 text-bold">Chargement des étudiants ...</p>
  </ngx-spinner>
  <div *ngIf="dataLoaded | async">
    <div class="row">
      <div class="col-md-6">
        <div class="form mb-3">
          <label class="form-label">Année scolaire</label>
          <select class="form-control" id="allocation-algorithm" [(ngModel)]="schoolYearId"
            (change)="onSchoolYearChange()">
            <option *ngFor="let schoolYear of schoolYears" [value]="schoolYear.id">{{schoolYear.description}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card" *ngIf="selectedSchoolyear">
          <div class="card-header border-0 bg-dark">
            <div class="card-title">
              <span class="badge badge-danger mr-1">{{subclass.name}}</span>
              <span class="badge badge-secondary mr-1">{{subclass.description}}</span>
              <span class="badge badge-info">{{selectedSchoolyear.description}}</span>
              <span class="text-bold text-sm float-right">Liste des étudiants</span>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <div class="list-group" *ngIf="students.length > 0; else noStudentAlert">
              <div *ngFor="let student of students" (click)="setSelectedStudent(student)"
                [ngClass]="{'selected-student text-bold': selectedStudent == student}"
                class="list-group-item list-group-item-action" aria-current="true">
                <span class="mr-2"><img src="assets/img/user.jpg" alt="Product 1"
                    class="img-circle img-size-32 mr-2"></span>
                <span class="text-capitalize">{{ student.first_name }} </span>
                <span class="text-capitalize">{{ student.last_name }}</span>
                <span *ngIf="student.is_remote" class="float-right"><i class="fas fa-desktop"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="studentForm" class="col-md-6">
        <app-student-form *ngIf="selectedStudent" [student]="selectedStudent" [studentHours]="getStudentHours(selectedStudent)"></app-student-form>
      </div>
    </div>
    <ng-template #noStudentAlert>
      <div class="alert alert-warning text-center mb-0" role="alert">
        <i class="fas fa-exclamation-circle"></i>
        <b> Aucun étudiant dans cette classe.</b>
      </div>
    </ng-template>
  </div>

</div>
