<div class="card card-widget widget-user-2 shadow-sm">
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="p-3 border bg-dark">
    <div class="widget-user-image">
      <img class="img-circle elevation-2" src="assets/img/user.jpg" alt="User Avatar">
    </div>
    <h3 class="widget-user-username font-weight-bolder text-capitalize">{{student.first_name }} {{student.last_name}}
    </h3>
    <p class="widget-user-desc">En {{student.is_remote ? 'distanciel' : 'présenciel'}}</p>
  </div>
  <div class="card-footer p-0 bg-white">
    <ul class="nav flex-column">
      <li class="nav-item">
        <span href="#" class="nav-link">
          Heures de cours <span class="float-right badge bg-success">{{(studentHours ? studentHours.assisting_duration :
            0) | HourPipe}}</span>
        </span>
      </li>
      <li class="nav-item">
        <span href="#" class="nav-link">
          Abscences <span class="float-right badge bg-danger">{{( studentHours ? studentHours.non_assisting_duration: 0)
            | HourPipe}}</span>
        </span>
      </li>
      <li class="nav-item">
        <span href="#" class="nav-link">
          En salle <span class="float-right badge bg-purple">{{ (studentHours ? studentHours.assisting_duration_class :
            0) | HourPipe}}</span>
        </span>
      </li>
      <li class="nav-item">
        <span href="#" class="nav-link">
          A distance <span class="float-right badge bg-warning">{{(studentHours ? studentHours.assisting_duration_remote
            : 0) |
            HourPipe}}</span>
        </span>
      </li>
    </ul>
  </div>
</div>
