.card-title {
  display: contents;
}

.card-header {
  background-color: #242d36e0;
  color: white;
}

.position-relative {
  min-height: 250px;
}

.list-group {
  cursor: pointer;
}

.selected-student {
  background-color: #e9e9e9;
}
