<div class="p-3 position-relative min-vh-100">
  <ngx-spinner [fullScreen]="false" name="{{spinner.name}}" bdColor="rgba(255, 255, 255, .5)" size="medium"
    color="#343a40" type="{{spinner.type}}"></ngx-spinner>
  <div *ngIf="dataLoaded | async">
    <div class="form mb-3">
      <label class="form-label">Choisir les classes</label>
      <select [(ngModel)]="selectedClass" (ngModelChange)="onClassChange()" class="form-control"
        id="allocation-algorithm">
        <option *ngFor="let class of classes" [value]="class.id">{{class.name}} - {{class.description}}</option>
      </select>
    </div>
    <div class="row">
      <app-subclasses class="col-md-3 col-sm-4 col-12" *ngFor="let subclass of subclasses" [subclass]="subclass">
      </app-subclasses>
    </div>
    <div class="form mb-3">
      <label class="form-label">Année scolaire</label>
      <select class="form-control" id="allocation-algorithm" [(ngModel)]="selectedSchoolYearId">
        <option *ngFor="let schoolYear of schoolYears" [value]="schoolYear.id">{{schoolYear.description}}</option>
      </select>
    </div>
    <div id="students">
      <app-students></app-students>
    </div>
  </div>

</div>
