<div class="p-3 position-relative min-vh-100">
  <ngx-spinner [fullScreen]="false" name="{{spinner.name}}" bdColor="rgba(255, 255, 255, .8)" size="medium"
    color="#343a40" type="{{spinner.type}}">Chargement des classes ...</ngx-spinner>
  <ngx-spinner [fullScreen]="false" name="student-spinner" bdColor="rgba(255, 255, 255, .8)" size="medium"
    color="#343a40" type="ball-clip-rotate-multiple">Chargement des étudiants ...</ngx-spinner>
  <div *ngIf="dataLoaded | async">
    <div class="form mb-3">
      <label class="form-label">Choisir les classes</label>
      <select [(ngModel)]="selectedClass" (ngModelChange)="onClassChange()" class="form-control"
        id="allocation-algorithm">
        <option *ngFor="let class of classes" [value]="class.id">{{class.name}} - {{class.description}}</option>
      </select>
    </div>
    <div class="row">
      <app-subclass (click)="selectedSubclassId = subclass.id" class="col-md-3 col-sm-4 col-12"
        *ngFor="let subclass of subclasses" [subclass]="subclass" [selected]="selectedSubclassId === subclass.id">
      </app-subclass>
    </div>
    <div id="students">
      <app-students [subclassId]="selectedSubclassId"></app-students>
    </div>
  </div>

</div>
