
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="text-dark">{{error.status}} error page</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger">{{error.status}}</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> {{error.message}}</h3>
            <p>
                We will work on fixing that right away.
                Meanwhile, you may <a href="/">return to dashboard</a>.
            </p>
        </div>
    </div>

</section>